<section class='top-header flex column'>
  <a href="http://www.aclion.com" class='logo'><img src="/assets/images/logo.png" alt=""></a>
  <div class="background">

  </div>
  <div class="mask">

  </div>
  <div class="element">


        <h1>I am looking for</h1>
        <hr style='width:57%'>

      <form ng-submit ='topheader.customSearchJob(selectedLocation)'>
        <input type="text" class=""  placeholder="Title or Keyword" value="" data-ng-model="sidebar.SearchService.searchParams.textSearch">
        <select
        ng-model='selectedLocation'
        class = 'ml20'
        >
        <option value="all" selected>All Location</option>
        <option
        data-ng-repeat="location in filteredLocations = (sidebar.locations | omitFilters:'location':sidebar.SearchService.searchParams.location) | limitTo:sidebar.locationLimitTo | orderBy:'location.address.city' track by location.address.city + ',' + location.address.state">{{::location.address.city}},&nbsp;{{::location.address.state}}</option>
        </select>
        <button type="button" class="ml20" ng-click ="topheader.customSearchJob(selectedLocation)">SEARCH JOBS</button>
      </form>

  </div>
  <section class='findOne '>
    <a >Skip the Line! Submit Resume Here</a>
    <hr style='width:60%; opacity:0.5'>
    </div>
  </section>

</section>
