$topHeight: 330px;
$buttonColor: $organgeColor;
.top-header {
  width: 100%;
  .overview-open & {
    display: none;
  }
  .logo {
    @include phone-max() {
      top:10px;
    }
    z-index: 2;
    position: absolute;
    img {
      @include phone-max() {
        max-width: 100px;
      }
      max-width: 120px;
      height:auto;
    }

    right:20px;
    top: 20px;
  }
  .background {
    height: 100%;
    width: 100%;
    position: relative;
    background: url('/assets/images/header_background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mask {
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.4;
    position:absolute;
    z-index: 1;
    left:0;
    top:0;
  }
  .element {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    @include phone-max() {
      hr {
        display: none;
      }
    }
    h1 {
      margin-top: 230px;
      color: white;
      position: relative;
      bottom: 80px;
      font-size: 35px;
      @include phone-max() {
        bottom: 50%;
      }
    }
    hr {
      position: relative;
      bottom:80px;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      @include phone-max() {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        * {
          margin-bottom: 10px;
          margin-left :0;
        }
        select {
          outline: none;
          background: none;
        }
      };
      position: absolute;
      bottom: 30px;
      font-size: 16px;
      input, select {
        padding-left: 5px;
        height: 35px;
        width: 236px;
        -webkit-appearance: none;
        border-radius: 0 !important;
      }
      select {
        width: 236px;
        background: #FFFFFF;
        border: solid 7px #FFFFFF;
        outline: #FFFFFF solid thick;
        outline-offset: -5px;
        -webkit-appearance:none;
      }
      button {
        height: 35px;
        width: 120px;
        @include phone-max() {
          width: 236px;
        }
        font-weight: 700;
        padding-top: 2px;
        font-size: 14px;
        background: $buttonColor;
        color: white;
        border-radius: 2px;
        border: none;
      }
    }
    z-index: 2;
    position: absolute;
    left:0;
    top:0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 1 !important;
  }
  height: $topHeight;
  position: relative;
}
.ml20 {
  margin-left:18px;
}
.findOne {
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 70px;
  width: 100%;

  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  a {  max-width: 650px;
    border-color: #F7BE68;
    background-color: #ffb100;
    border-radius: 5px;
    color: white;
    &:link, &:visited {
      color: white;
    }
    font-weight: bold;
    font-size: 17px;
    width: 60%;
    text-align: center;
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.5s;
    margin-bottom: 20px;
    hr {
      max-width: 650px;
    }
    &:hover {
      border-color: #f5b14b;
      background: #e68a00;
      transition: all 0.5s;
    }

  }

}
.wrapper_safari {
          width: 100%;
          position: relative;
          height: 100%;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 0 auto;
          h1 {
            position: relative !important;
            width: 100%;
            text-align: center;

          }
          br {
            position: relative;
            width: 100%;
          }
}
