section.portal {
    position: relative;
    overflow: hidden;
    flex-direction: row;
    width: 100%;
    .overview-open  & {
      margin-top: 40px;
      margin-bottom: 40px;
      .side-bar {
        display: none;
      }
    }
    margin-top: 112px;
    > .portal-canvas {
        width: 100%;
        height: 100%;
        position: relative;
        transition: .3s ease all;
        backface-visibility: hidden;

        &.show-nav {
            transform: translateX(80%);
            transform: translateZ(0) translateX(80%);
            transform: translate3d(80%, 0, 0);

            @include tablet() {
                transform: translateX($sidebar-width);
                transform: translateZ(0) translateX($sidebar-width);
                transform: translate3d($sidebar-width, 0, 0);
            }
        }

        > section.main {
            height: 100%;
            transition: padding-left 0.2s ease-in-out;

            @include desktop() {
                padding-left: $sidebar-width;

                .overview-open & {
                  width: 100%;
                  margin: 0 auto;
                    padding-left: 0;
                }
            }
            @include phone-max() {
              .overview-open & {
                padding: 0;
                width: 90%;
                margin: 0 auto;
              }
            }
            > section.fade {
                padding-left: 20px;
                @include phone-max() {
                  .overview-open & {
                    padding: 0;

                  }
                }
            }
        }
    }
}
