<aside class="side-bar">

    <section>


        <!--
        <div class="keyword-search">
            <label for="companyName"><i class="bhi-search"></i></label>
            <input class="search" type="text" data-ng-change="sidebar.searchOnDelay()" data-ng-model="sidebar.SearchService.searchParams.companyNameSearch" id="companyName" name="companyName" placeholder="Company Name Search"/>
            <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.companyNameSearch.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('companyName');" name="clear-all">
                <i class="bhi-times"></i>
            </button>
        </div>
        -->

        <section class="filter-section" data-ng-class="{'active':!sidebar.locationLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.locationSectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.location.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('location');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's location list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="location in filteredLocations = (sidebar.locations | omitFilters:'location':sidebar.SearchService.searchParams.location) | limitTo:sidebar.locationLimitTo | orderBy:'location.address.city' track by location.address.city + ',' + location.address.state">
                <input type="checkbox" id="{{::location.address.city}},{{::location.address.state}}" data-ng-checked="sidebar.hasLocationFilter(location)" data-ng-click="sidebar.addOrRemoveLocation(location)">
                <label class='categoryTitle' for="{{::location.address.city}},{{::location.address.state}}">{{::location.address.city}},&nbsp;{{::location.address.state}}</label>
                <span class='categoryTitle'>{{location.idCount}}</span>
            </div>

            <span class="show-more" data-ng-if="sidebar.locationLimitTo && filteredLocations.length > 8" data-ng-click="sidebar.updateLocationLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.locationLimitTo" data-ng-click="sidebar.updateLocationLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>
        <section class="filter-section" data-ng-class="{'active':!sidebar.categoryLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.categorySectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.category.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('category');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's category list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="category in filteredCategories = (sidebar.categories | omitFilters:'category':sidebar.SearchService.searchParams.category) | limitTo:sidebar.categoryLimitTo track by category.publishedCategory.id">
                <input type="checkbox" id="{{::category.publishedCategory.id}}" data-ng-checked="sidebar.hasCategoryFilter(category)" data-ng-click="sidebar.addOrRemoveCategory(category)">
                <label class='categoryTitle' for="{{::category.publishedCategory.id}}">{{::category.publishedCategory.name}}</label>
                <span class='categoryTitle'>{{category.idCount}}</span>
            </div>

            <span class="show-more" data-ng-if="sidebar.categoryLimitTo && filteredCategories.length > 8" data-ng-click="sidebar.updateCategoryLimitTo(null)">
                {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.categoryLimitTo" data-ng-click="sidebar.updateCategoryLimitTo(8)">
                {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>

        <button type="button" class="bhi-arrow-left" name="back-arrow" data-ng-click="sidebar.goBack();"></button>
    </section>
</aside>
