<section class="job-list">
    <!-- LIST HEADER -->
    <h4 data-ng-if="!list.SearchService.helper.isSearching && list.SearchService.currentListData.length"></h4>
    <!-- JOBS CONTAINER -->
    <div class='joblist'>
      <div class="theader">
        <div class="title">
          <p>Title</p>
        </div>
        <div class="city">
          <p>City</p>
        </div>
        <div class="jobtype">
          <p>Job Type </p>
        </div>
        <div class="dateadded">
          <p>Date Added </p>
        </div>
      </div>
      <div class="cards">
          <!-- JOBS -->
          <div class="card-wrapper" data-ng-repeat="job in list.SearchService.currentListData | orderBy:dateLastPublished">
              <a class="card slide-up-item" data-ng-href="#/jobs/{{job.id}}">
                <div>
                  <p class='jobTitle'>{{job.title}}</p>
                  <p class='categoryTitle'>{{::job.publishedCategory.name}}</p>
                </div>
                <div>
                  <p  ng-if = "job.address.city!=''">{{job.address.city}}, {{job.address.state}}</p></div>
                <div><p>{{::job.employmentType}}</p></div>
                <div><p>{{'common.addedLabel' | i18n}} - {{job.dateLastPublished | displayDate}}</p></div>
              </a>
          </div>
      </div>
    </div>
    <!-- NO RESULTS -->
    <div class="no-data-message" data-ng-if="!list.SearchService.helper.isSearching && !list.SearchService.currentListData.length">
        <h2>{{'common.noDataHeading' | i18n}}</h2>
        <h3>{{'list.noDataMessage' | i18n}}</h3>
        <p data-ng-if="list.SearchService.searchParams.location.length || list.SearchService.searchParams.category.length || list.SearchService.searchParams.textSearch.length">
            <a href data-ng-click="list.clearSearchParamsAndLoadData();">{{'list.noDataResolution' | i18n}}</a>
        </p>
    </div>
    <!-- LOAD MORE -->
    <p class="load-more-data" data-ng-click="list.loadMoreData();" data-ng-show="list.SearchService.helper.hasMore">
        {{'list.loadMoreDataLabel' | i18n}}
    </p>
</section>
