<section class='flex row sectionwrapper'>

  <section class="job-detail ">
    <!-- APPLY CARD -->
      <!-- APPLY CARD -->

      <!-- DESCRIPTION CARD -->
      <div class="card description" data-ng-if="detail.job.isPublic && !detail.job.isDeleted && detail.job.isOpen">
          <!-- JOB HEADING -->
          <span class="card-title-category">
              <h1 class="card-title">{{::detail.job.title}}</h1>
          </span>
          <!-- LOCATION -->
          <span class="card-location">
              {{::detail.job.address.city}}<span data-ng-if="::(detail.job.address.city && detail.job.address.state)">,&nbsp;</span>{{::detail.job.address.state}}
          </span>
          <div class="job-actions shareSocial" data-ng-class="{ 'share-open' : detail.open }">
              <div class="share-outlets">

                  <a href data-ng-click="detail.shareTwitter();"><i class="bhi-twitter"></i></a>
                  <a href data-ng-click="detail.shareFacebook();"><i class="bhi-facebook"></i></a>
                  <a href data-ng-click="detail.shareLinkedin();"><i class="bhi-linkedin"></i></a>
              </div>
          </div>
          <div class="job-heading ">
              <span class="fill"></span>
              <h2>{{'detail.jobDescriptionHeading' | i18n}}</h2>
          </div>
          <!-- JOB DETAILS -->
          <div class="job-details" data-ng-bind-html="detail.job.publicDescription"></div>
          <div class="applyButtons">
            <button class="apply btn-resume" data-ng-click="detail.applyModal()" data-ng-disabled="detail.alreadyApplied" data-ng-class="{ 'disabled': detail.alreadyApplied }">
                <span data-ng-if="!detail.alreadyApplied">Submit Resume</span>
                <span data-ng-if="detail.alreadyApplied">{{'detail.alreadyApplied' | i18n}}</span>
            </button>
            <section data-ng-show="modal.showForm">
                <!-- LINKED IN INTEGRATION (IF ACTIVATED) -->
                <div data-ng-if="modal.isLinkedInActive">
                    <!-- LINKED IN APPLY BUTTON -->
                    <button class="btn-li-lg linkedin" data-ng-click="modal.applyWithLinkedIn()" data-ng-if="!modal.hasAttemptedLIApply && !detail.alreadyApplied" >
                      Apply With Linkedin
                    </button>
                    <!-- LINKED IN ALERT INFO -->
                    <div class="alert info" data-ng-if="modal.hasAttemptedLIApply && !modal.LinkedInService.isUserLoaded()">
                        <strong>{{ 'modal.headsUp' | i18n }}</strong> {{ 'modal.linkedInWarning' | i18n }}
                        <a data-ng-click="modal.applyWithLinkedIn()">{{ 'modal.here' | i18n }}</a> {{ 'modal.retry' | i18n }}
                    </div>
                    <!-- OR BREAK -->
                    <span class="break" data-ng-show="!modal.hasAttemptedLIApply && !detail.alreadyApplied">
                    </span>
                    <!-- PROMOTE EMAIL UX -->
                    <p data-ng-if="modal.isIOS && !modal.hasAttemptedLIApply"><strong>{{ 'modal.noLI' | i18n }}</strong> {{ 'modal.emailYourself' | i18n }}</p>
                </div>
                <!-- EMAIL JOB -->
                <div data-ng-show="modal.isIOS && !modal.hasAttemptedLIApply">
                     <input class="email" type="email" data-ng-model="modal.email" id="email" name="email" data-i18n-attr="{ placeholder: 'common.emailPlaceholder' }">
                 </div>
            </section>

          </div>
      </div>
      <!-- NO DATA MESSAGE -->
      <div class="no-data-message" data-ng-if="!(detail.job.isPublic && !detail.job.isDeleted && detail.job.isOpen)">
          <!-- NO DATA HEADING -->
          <h2>{{'common.noDataHeading' | i18n}}</h2>
          <!-- JOB CLOSED -->
          <h3>{{'detail.jobClosedMessage' | i18n}}</h3>
          <!-- OTHER JOBS -->
          <p>
              {{'detail.jobClosedOtherJobsLabel' | i18n}}
              <a href data-ng-click="detail.loadJobsWithCategory(detail.job.publishedCategory.id)">{{'common.hereLabel' | i18n}}</a>
          </p>
      </div>
  </section>
  <section class='job-detail'>

    <div class="card apply" data-ng-if="detail.job.isPublic && !detail.job.isDeleted && detail.job.isOpen">
        <!-- JOB PUBLICATION DATE -->
        <span class="card-date" data-ng-if="detail.job.dateLastPublished">{{'common.addedLabel' | i18n}} - {{detail.job.dateLastPublished | displayDate}}</span>
        <!-- TITLE & CATEGORY -->
        <span class="card-title-category">
            <span class="card-title">{{::detail.job.title}}</span>
            <span class="card-category">{{::detail.job.publishedCategory.name}}</span>
        </span>
        <!-- LOCATION -->
        <span class="card-location">
            {{::detail.job.address.city}}<span data-ng-if="::(detail.job.address.city && detail.job.address.state)">,&nbsp;</span>{{::detail.job.address.state}}
        </span>

        <!-- SEPARATOR -->
        <span class="card-separator" data-ng-show="::((detail.job.address.city || detail.job.address.state) && detail.job.employmentType)">|</span>
        <!-- JOB TYPE -->
        <span class="card-type">{{::detail.job.employmentType}}</span>
        <!-- APPLY WITH LINKED IN || EMAIL JOB -->
        <!-- APPLY BUTTON -->
        <button class="apply btn-resume" data-ng-click="detail.applyModal()" data-ng-disabled="detail.alreadyApplied" data-ng-class="{ 'disabled': detail.alreadyApplied }">
            <span data-ng-if="!detail.alreadyApplied">Apply</span>
            <span data-ng-if="detail.alreadyApplied">{{'detail.alreadyApplied' | i18n}}</span>
        </button>


        <!-- CONDITIONAL DIVIDER -->
        <hr data-ng-if="detail.relatedJobs.length !== 0"/>
        <!-- RELATED JOBS -->
        <div class="related-jobs" data-ng-if="detail.relatedJobs.length !== 0">
            <!-- JOB CATEGORY -->
            <h5>{{'detail.relatedLabel' | i18n}} {{::detail.job.publishedCategory.name}} {{'common.jobsLabel' | i18n}}</h5>
            <!-- JOBS -->
            <div class="related-job" data-ng-repeat="job in detail.relatedJobs">
                <a data-ng-href="#/jobs/{{::job.id}}">{{::job.title}}</a>
                <span class="location">{{::job.address.city}}<span data-ng-if="::(job.address.city && job.address.state)">, </span>{{::job.address.state}}</span>
            </div>
        </div>
        <!-- BREAK -->
        <hr/>
        <!-- VIEW ALL JOBS IN CATEGORY LINK -->
        <a href data-ng-click="detail.loadJobsWithCategory(detail.job.publishedCategory.id)" class="category-filter">{{'detail.viewAllJobsLabel' | i18n}}<i class="bhi-arrow-right"></i></a>
    </div>
  </section>

</section>
